<div class="login_body">
  <div class="login_spacing"></div>
  <div class="login_container_wrapper">
    <div class="login_spacing"></div>
    <div class="login_container">
      <div class="login_spacing"></div>
      <!-- Logo, đường kẻ và tên -->
      <img src="/images/icon/logo.webp" width="55" height="55" />
      <a href="/changepassword" class="login_logo_text">TOKO Wallet</a>
      <hr />
      <!-- Form và các nút -->
      <div class="login_form_wrapper">
        <div class="login_spacing"></div>
        <form class="login_form" action="/changepassword" method="post">


          <!-- Các ô trống -->
          <div class="login_fields">
            <div class="login_text_box_container">
              <div class="login_text_box_label">Email</div>
              <input type="email" name="email" class="login_upper_boxes" required />
            </div>
            <div class="login_text_box_container">
              <div class="login_text_box_label">Phone Number</div>
              <input type="number" name="phone_number" class="login_upper_boxes" required />
            </div>
            {{#if error}}
            <div class="form-group">
              <div class="alert alert-danger " role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{error}}
              </div>
            </div>
            {{/if}}
            {{#if success}}
            <div class="form-group">
              <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{success}}
              </div>
            </div>
            {{/if}}

            <div class="login_buttons">


              <!-- hai nút dưới -->
              <button type="submit" value="login" class="btn btn-warning register_buttons_submit">Submit</button>
   

              <button type="button" class="btn btn-dark register_buttons_goback" onclick="window.history.back()" name="goback">Go
                Back</button>
            </div>
        </form>
      </div>
    </div>
    <div class="login_spacing"></div>
  </div>
  <div class="login_spacing"></div>
</div>
<div class="login_spacing"></div>
</div>