<body>
  <div class="index_intro_cluster">
    <div class="index_side_intro_padding"> </div>
    <div class="index_center_content">
      <span class="index_top_intro_container">
        <div class="index_top_intro_text">Welcome</div>
      </span>
      <div class="index_middle_intro_text">to</div>
      <span class="index_bottom_intro_container">
        <div class="index_bottom_intro_text">TOKO Wallet</div>
      </span>
      <h1>
        A reliable companion of every home !
      </h1>
      <h1>
        Accumulated value creates trust
      </h1>
      <h1>
        Join us and choose TOKO WALLET as your trusted e-wallet today
      </h1>
      <div class="index_intro_center_padding">&#8203;</div>
    </div>
    <div class="index_side_intro_padding"></div>
  </div>
</body>