<body>
    {{#if error}}
    <div class="form-group">
        <div class="alert alert-warning " role="alert">
            {{error}}
        </div>
    </div>
    {{/if}}
    {{#eq userstatus "approved"}}
    <div id="snippetContent">
        <form class="recharge" action="/dashboard/withdraw" method="POST">
            <div class="container"><br>
                <h1>Withdraw</h1>
                <button type="button" class="btn btn-dark" onclick="window.history.back()" name="goback">Go
                    Back</button>
                <div class="form-group">
                    <label for="cardNumber">Card Number
                        <span style="color: red;">*</span></label>
                    <input type="number" class="form-control" name="cardNumber" required /><br>
                    <div class="form-group">
                        <label for="expiryDate">Expiry Date</label>
                        <span style="color: red;">*</span></label>
                        <input type="date" class="form-control" name="expiryDate" required /><br>
                        <div class="form-group">
                            <label for="cvv">CVV</label>
                            <span style="color: red;">*</span></label>
                            <input type="number" class="form-control" name="cvv" required /><br>
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <span style="color: red;">*</span></label>
                                <input type="number" class="form-control" name="amount" required /><br>
                                <div class="form-group">
                                    <label for="description">Descprition</label>
                                    <input type="text" class="form-control" name="description" /><br><br>
                                    {{#if result}}
                                    <div class="form-group">
                                        <div class="alert alert-warning " role="alert">
                                            {{ result }}
                                        </div>
                                    </div>
                                    {{/if}}
                                    <button type="submit" class="btn btn-primary">Withdraw</button><br>
                                </div>
        </form>
    </div>
    {{/eq}}
</body>