<div class="index_overall_container">
  <div class="index_content_container">
    <!-- Thanh Điều Hướng -->
    <div class="index_nav_cluster">

      <!-- Thanh Nằm bên trên thanh điều hướng chứa logo -->
      <div class="index_upper_nav">
        <div class="index_upper_nav_padding_div"></div>
        <a class="index_upper_nav_logo_button" href="..">
          <div class="index_upper_nav_logo_container">
            <Image class="index_upper_nav_logo_picture" src="/images/icon/logo.webp" width="80" height="80" />
            <div class="index_upper_nav_logo_text">TOKO Wallet</div>
          </div>
        </a>
        <div class="index_upper_nav_padding_div"></div>
      </div>

      <!-- Thanh điều hướng -->
      <div class="index_bottom_nav">
        <div class="index_category_container">
          <a key="" class="index_category_text" href="">About us</a>
          <a key="" class="index_category_text" href="">Support - Service</a>
        </div>
        <div class="index_account_nav_container">
          <a class="index_category_text" href="/register">Register your account</a>
          <a class="index_account_nav_spacing"> | </a>
          <a class="index_category_text" href="/login">Login</a>
          <img src="{{get_image}}" alt="" class="account_nav_pfp" />
        </div>
      </div>
    </div>
  </div>

  <!-- Phần giới thiệu-->
  <div class="index_intro_cluster">
    <h1 class="index_center_content">
      FAST - FREE - SAFE - CONVINIENCE !
    </h1>
    <h1 class="index_center_content">
      Trade freely without worrying about fees !!!
    </h1>
    <div class="index_center_link">
      <a class="index_register_button" href="/register">Register Now!</a>
    </div>
  </div>
  
  <!-- Thanh giới thiệu -->
  <div class="index_footer">
    <div class="index_footer_text">TOKO Wallet & Co© 2022</div>
  </div>
</div>